$fz: 16px;
$base: 1440px;

$font: 'Montserrat', sans-serif;

$bg: #071f40;
$bg-light: #123054;
$bg-input: #001129;
$accent: #1cdbd3;
$w: #ffffff;

@function vw($px-vw, $base-vw: $base) {
  @return ($px-vw * 100vw) / $base-vw;
}

html {
  font-size: vw(16px);
}

img {
  // max-width: 100%;
}
body {
  font-weight: 400;
  font-size: 1rem;
  font-family: $font;
  // min-width: 375px;
  overflow-x: hidden;
  color: $w;
  line-height: 1.5;
}

a {
  color: $w;
  text-decoration: none;
}

strong {
  font-weight: 700;
}
.center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8.125rem;
  padding-right: 8.125rem;
  @media screen and (max-width: 767px) {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.accent {
  color: $accent;
}

.section {
  padding: 2.5rem 0;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 1.25rem 0;
  }
}

.bg-block {
  padding: 2.5rem;
  border-radius: 0.3125rem;
  background-color: $bg-light;
  border: 1px solid $accent;
  @media screen and (max-width: 767px) {
    padding: .9375rem;
  }
}

.bg-block--transparent {
  background-color: rgba($bg-light, 0.1);
  backdrop-filter: blur(5px);
}
